:root {
    --basic-black: #000000;
    --basic-extra-dark: #242424;
    --basic-dark: #aba9a7;
    --basic-neutral: #e5e5e5;
    --basic-extra-light: #f8f5f2;
    --basic-white: #ffffff;
    --basic-PaleTurquoise : #81B3D2;
    --basic-special: #663d15;
}
  /* Global */
body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-image: url("../img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
}
a:visited {
    color:var(--basic-black);
}
.visually-hidden {
    font-size: 0px;
    line-height: 0px;
    color: var(--basic-white);
    text-decoration: none;
}
.site-navigation a {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    text-decoration: none;
}
.site-navigation li {
    list-style:none;
}
.site-navigation {
    margin: 0;
    padding: 0;
    outline-offset: -5px;
    list-style: none;
}
.main-navigation-wrapper { 
    background-color: var(--basic-white);
}
.main-navigation {
    display: grid;
    font-size: 16px;
    line-height: 20px;
    color: var(--basic-white);
    background-color: transparent;
}
/* Container */

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
a{
    text-decoration: none;
}
.page {
    height: 100%;
}  
.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
.main-header {
    margin-bottom: 70px;
    outline-offset: -5px;
}  
.main-header-logo {
    justify-self: center;
    order: 1;
    outline-offset: -5px;
}
.main-header-bar {
    background-color: var(--basic-white);
}
.sedona-city {
    font-family: PT Sans;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    text-decoration: none;
    text-align: center;
}
.subtitle {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    text-decoration: none;
    text-align: center;
}
.main-text{
    background-color: var(--basic-white);
}/* переделать сделать на кастомный цвет*/
.features {
    margin-bottom: 80px;
    background-color: var(--basic-PaleTurquoise);
    outline: 5px solid rgba(255, 0, 0 , 0.3);
    grid-template-columns: 2fr 1fr;
}
.features-title{
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}
.features-title--white {
    color: var(--basic-white);
}
.features-1text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-PaleTurquoise);
}
.benefits {
    color: var(--basic-PaleTurquoise);
    font-size: 0px;
    line-height: 0px;
}
.accommodation {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}
.featur-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}
.featur-list li {
    list-style:none;
}
.features-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
}
.housing {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}
.housing-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
}
.souvenirs {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}
.souvenirs-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
}
.number {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-PaleTurquoise);
}
.news-two {
    background-color: var(--basic-white);
}
.news-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}
.news-item {
    list-style:none;
    outline: 5px solid rgba(0, 255, 255 , 0.3);
    outline-offset: -5px;
}
.feature-item p {
    margin: 0 10px;
}
.feature-item {
    list-style:none;
    outline: 5px solid rgba(0, 255, 255 , 0.3);
    outline-offset: -5px;
}
.feature-item p {
    margin: 0 10px;
}
.area {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}
.area-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
}  
.road {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}
.road-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
}
.tourists {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}
.tourists-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
}
.search-button {
    background:PaleTurquoise ;
}
.interesting {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    color: var(--basic-black);
    align-items: center;
    text-align: center;
}
.contacts {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}
.contacts-teg {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}
.footer-contacts {
    background-color: var(--basic-white);
}
.footer-icons {
    list-style:none;
}
.main-footer {
    outline: 5px solid rgba(255, 0, 0, 0.7);
    outline-offset: -5px;
}
/*сurent.html*/
.infrastructure-items li{ 
     list-style-type: none; /* Убираем маркеры */ 
}
.type-items li {
    list-style-type: none; /* Убираем маркеры */ 
}
.type-items li {
    list-style-type: none; /* Убираем маркеры */ 
}
.style-find-items li {
    list-style-type: none; /* Убираем маркеры */ 
}
.style-hotels-items {
    list-style-type: none; /* Убираем маркеры */ 
}
.style-contacts-items {
    list-style-type: none; /* Убираем маркеры */ 
}
.hotel {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var( --basic-dark);
}
.form-wrapper {
    background-color: var(--basic-PaleTurquoise);
}
.infrastructure-caption {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: var(--basic-white);
}
.housing-caption {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: var(--basic-white);
}
.cost-caption {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: var(--basic-white);
}
.infrastructure-items {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
}
.style-items {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
}
.to-find {
    background-color: var(--basic-white);
}
.to-find-caption {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}
.to-find-item {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-black);
}
.to-find-item2 {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-PaleTurquoise);
}
.to-find-item3 {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-black);
}
.to-find-item4 {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-black);
}
.hotels {
    background-color: var(--basic-white);
}
.amara-resort {
    font-family: PT Sans;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}
.amara-hotel {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
}
.details-amara {
    background:PaleTurquoise ;
}
.armor-amara {
    background:#663d15;
}
.amara-rubles {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
}
.amara-rating {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-dark);
}
.desert-resort {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}
.desert-hotel {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
}
.desert-rubels {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
}
.desert-rating {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-dark);
}
.details-button {
    background: var(--basic-PaleTurquoise);
    color: var(--basic-white);
}
.armor-button {
    background: var(--basic-special);
    color: var(--basic-white);
}
.villas-resort {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}
.villas-appartment {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
}
.villas-rubels {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
}
.villas-rating {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-dark);
}
.visitsedona {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}
.footer-phone {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}
.page-footer {
    background-color: var(--basic-white);
    width: 100%;
}