:root {
    --basic-black: #000000;
    --basic-extra-dark: #242424;
    --basic-dark: #aba9a7;
    --basic-neutral: #e5e5e5;
    --basic-extra-light: #f8f5f2;
    --basic-white: #ffffff;
    --basic-PaleTurquoise : #81B3D2;
    --special: #663d15;
}
  /* Global */
body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-image: url("../img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
.site-navigation a{
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
}
.main-navigation-wrapper{
    width: 1200px;  
    color: var(--basic-white);
}
.sedona-city {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    text-decoration: none;
    text-align: center;
}
.subtitle {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    text-decoration: none;
    text-align: center;
}
.main-text{
    background-color: var(--basic-white);
}/* переделать сделать на кастомный цвет*/
.features {
    background-color: var(--basic-PaleTurquoise);
}
.img-1 {
    background: url(Image.png);
}
.visually-hidden{
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-PaleTurquoise);
}
.features-1text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-PaleTurquoise);
}
.benefits{
    color: var(--basic-PaleTurquoise);
    font-size: 0px;
    line-height: 0px;
}
.accommodation{
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    height: 50px; /* Высота блока */
    width: 150px;
}
.features-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
}
.housing{
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}
.housing-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
}
.souvenirs{
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}
.souvenirs-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
}
.news{
    top: 1366px;
    background-color: var(--basic-PaleTurquoise);
}
.bridge{
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-PaleTurquoise);
}
.number{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-PaleTurquoise);
}
.news-two{
    background-color: var(--basic-white);
}
.area{
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}
.area-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
}
.road{
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}
.road-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
}
.tourists{
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}
.tourists-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
}
.interesting{
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    color: var(--basic-black);
    align-items: center;
    text-align: center;
}
.contacts{
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}
.contacts-teg{
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}
.footer-contacts{
    top: 2642px;
    background-color: var(--basic-white);
}